/* general style */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #374151;

  --off-white-a: #d0d0d0;

  --off-white-b: #e5e7eb;

  --dropdown-primary: rgb(250, 236, 199);
}

body {
  /* background-color: burlywood; */

  /* font-family: 'EB Garamond', serif; */
  font-family: "Roboto", sans-serif;
}

.dropdowwn-holder {
  /* background-color: yellowgreen; */
  padding: 1rem;
  display: flex;

  align-items: center;

  justify-content: center;
}

.dropdown-itself {
  width: 20rem;

  display: flex;

  flex-direction: column;

  border-radius: 0.25rem;

  background-color: var(--dropdown-primary);
}

.dropdown-itself .inner-div {
  padding: 0.25rem;

  display: flex;

  justify-content: center;
  align-items: center;
}

.dropdown-itself .inner-div .search-btn-cls {
  /* background-color: blueviolet; */
  border-radius: 0.25rem;
  border-style: solid;
  height: 2rem;
  width: 100%;

  border-color: var(--primary-color);
}

.dropdown-itself .top-div {
  background-color: var(--dropdown-primary);
}

.dropdown-itself .bottom-div {
  flex-direction: column;
}

.dropdown-itself .bottom-div .primary-btn-holder {
  /* background-color: crimson; */
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  height: 2rem;
}

.dropdown-itself .bottom-div .primary-btn-holder #primary-btn {
  width: 100%;
  height: 100%;

  border-radius: 0.25rem;
  border-style: solid;

  border-color: var(--primary-color);

  background-color: var(--primary-color);

  font-family: "Roboto", sans-serif;

  text-align: start;

  color: var(--dropdown-primary);
}

.dropdown-itself .bottom-div .options-holder {
  padding-top: 0.25rem;
  /* background-color: darkorange; */
  width: 100%;
}

.dropdown-itself
  .bottom-div
  .options-holder
  .sub-options-holder-a
  .sub-options-holder-a-top {
  /* background-color: firebrick; */
  height: 2rem;

  display: flex;

  align-items: center;

  cursor: pointer;
}

.dropdown-itself
  .bottom-div
  .options-holder
  .sub-options-holder-a
  .sub-options-holder-a-bottom {
  /* background-color: darkslategrey; */

  display: flex;

  flex-direction: column;
  width: 100%;
}

.dropdown-itself
  .bottom-div
  .options-holder
  .sub-options-holder-a
  .sub-options-holder-a-bottom
  ul {
  list-style: none;
  /* 
  background-color: deepskyblue; */

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1rem;
}

.dropdown-itself
  .bottom-div
  .options-holder
  .sub-options-holder-a
  .sub-options-holder-a-bottom
  ul
  li {
  height: 2rem;

  display: flex;

  align-items: center;

  font-weight: 300;
}

.submit-btn-holder {
  /* background-color: cadetblue; */

  display: flex;

  justify-content: center;
  align-items: center;

  height: 2rem;
}

.submit-btn-holder {
  /* background-color: cadetblue; */

  display: flex;

  justify-content: center;
  align-items: center;

  height: 2rem;
}

.submit-btn-holder button {
  width: 100%;
  height: 100%;

  border-radius: 0.25rem;
  border-style: solid;

  border-color: var(--primary-color);

  background-color: var(--off-white-b);

  font-family: "Roboto", sans-serif;

  text-align: center;

  color: var(--primary-color);
}
